html,
.App {
  background-color: #f3f2ee;
  background-color:rgb(244, 242, 238) ;
  overflow-x: clip;
}
h5 {
  margin-bottom: 0px;
}
p {
  color: #3b3b3b;
}

.plus {
  width: 30px;
  height: 30px;
  fill: #666666;
  cursor: pointer;
}
.cursor {
  cursor: pointer;
}